<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"></div>
    <script id="post-tpl" type="text/x-handlebars-template">
      <div id="allaposts">
        {{#each items}}
          <li>
          <h3> <a href="#post/{{id}} "> {{ Title }} </a></h3>
          <p> {{Content}} </p>
           <button data-id="{{id}}" class="delete">Delete</button>
           <button data-id="{{id}}"><a href="#post/{{id}}/edit "> Edit</a></button>
          </li>
          </br>
        {{/each}}
      </div>  
        </br>
        <div id="postform">
          <form name="form">
            Title:</br> <input placeholder="Title here." id="inputEl"/></br>
            Content:
            <textarea rows="6" cols="30"input placeholder="Whats on your mind?"></textarea>
            <button id="add">Add Post</button>

          </form>
        </div>
    </script>
    <script id="postSingle" type="text/x-handlebars-template">
    <div id = "Single">
      <a href="/"> Back </a></br></br>
      <h2>{{Title}}</h2> </br>
      <p>{{Content}}</p> 
      </br>
    </div>   
    </script>

    <script id="EditNew" type="text/x-handlebars-template">
      <a href="/"> Back </a></br>
      <form name="editform">
        Title:  <input value="{{Title}}" id="inputEl"/></br>
        <textarea rows="10" cols="40">{{Content}}</textarea>
        <button type="submit" data-id="{{id}}">Edit</button>
      </form>
    
    </script>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/handlebars-v1.3.0.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/post.js"></script>
  </body>
</html>
