body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#todo { padding: 20px; background: #eee;}
#todo ul { padding: 0;}
#todo li { list-style: none; margin:0}
#todo li input { margin-right: 8px; }


#list {
	width:960px;
	height: 100%;

}
#app {

	width: 100%;
}
#postform {
	
	/*background-color: green; */
	width: 200px;
	float:left;	
}

#posts{
	/*background-color: blue; */
	width: 900px;
}

#post{
	width: 900px;
	/*background-color: yellow; */
}

#allaposts {
	/*background-color: grey; */
	list-style-type: none;
	float: right;
	width: 700px;
	

}

a {
	color: black;

}

#Single {
	/*background-color: green; */
	float: right;
	width: 100%;

}

#NewEdit {
	width: 300px;
	margin: 0 auto;
	float:left;
}